@using KamiYomu.CrawlerAgents.Core.Inputs
@using KamiYomu.Web.Areas.Settings.ViewComponents
@model CrawlerTextViewModel


<div class="mb-3">
    <label class="form-label fw-semibold" for="input-@Model.CrawlerTextAttribute.Name">@Model.CrawlerTextAttribute.Name</label>

    @if (!string.IsNullOrWhiteSpace(Model.CrawlerTextAttribute.Legend))
    {
        <small class="form-text text-muted d-block mb-1">@Model.CrawlerTextAttribute.Legend</small>
    }

    <div class="input-group">
        <span class="input-group-text">
            <i class="bi bi-card-text"></i>
        </span>
        <input type="text"
               class="form-control"
               id="input-@Model.CrawlerTextAttribute.Name"
               name="@Model.FieldName"
               value="@Model.FieldValue" />
    </div>
    @if (Model.ModelStateEntry?.Errors.Count > 0)
    {
        <span class="text-danger">@Model.ModelStateEntry.Errors[0].ErrorMessage</span>
    }
</div>
